<!--<GridLayout class="menu-background" #menuBackground [visibility]="menuIsShow ? 'visible' : 'collapsed'">
  <FlexboxLayout>
    <ListView
      class="list-group menu-area"
      #menuArea
      [items]="source"
      >
        <template let-item="item" let-odd="odd" let-even="even">
          <StackLayout>
            <Label [text]="item.title" class="list-group-item"></Label>
          </StackLayout>
        </template>
    </ListView>
  </FlexboxLayout>
</GridLayout>-->