<ActionBar backgroundColor="yellow">
<Label text="Welcome" textWrap="true" class="action-label"></Label>

 <ActionItem (tap)="toggleMenu()">
    <Button text="&#xf0c9;" class="fa logout" ></Button>
 </ActionItem>
  <ActionItem ios.position="right"  (tap)="goToLoginPage()">
    <Button text="&#xf08b;" class="fa logout" ></Button>
  </ActionItem>
</ActionBar>
<GridLayout rows="" columns="" (swipe)='swipeToMenu($event)'>
    <StackLayout class='buttons'>
      <Button text="Add new results" ></Button>
      <Button text="Show last results" ></Button>
    </StackLayout>
    <GridLayout class="menu-background" #menuBackground [visibility]="menuIsShow ? 'visible' : 'collapsed'">
      <FlexboxLayout>
        <ListView
          class="list-group menu-area"
          #menuArea
          [items]="source"
          >
            <template let-item="item" let-odd="odd" let-even="even">
              <StackLayout>
                <Label [text]="item.title" class="list-group-item"></Label>
              </StackLayout>
            </template>
        </ListView>
      </FlexboxLayout>
    </GridLayout>

</GridLayout>



