<GridLayout [ngStyle]="background" class="loginPage">
  <StackLayout class="form" >
    <TextField #email hint="Email Address" keyboardType="email"
      autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email"></TextField>
    <TextField #password hint="Password" secure="true" [(ngModel)]="user.password"></TextField>

    <Button [text]="isLoggingIn ? 'Sing in' : 'Sing up'" class="in" (tap)="submit()"></Button>
    <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" class="up" (tap)="toggleDisplay()"></Button>
  </StackLayout>
  <!--animation cover-->
  <StackLayout #cover class="cover">
  </StackLayout>
  <!--loader-->
  <StackLayout class="dimmer" visibility="{{showLoading ? 'visible' : 'collapsed'}}">
    <GridLayout rows="*" visibility="{{showLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator busy="true" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
  </StackLayout>
</GridLayout>