.form {
  width: 60%;
  padding-bottom: 15;
}
.in {
  background-color: #76FF03;
}
.up {
  background-color: #ff1744
}
.loginPage{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover {
  background-color: white;
  opacity: 0;
}